demo-web-ws-client/src/conf/xml-resources/web-service-references/DemoWS/wsdl/localhost_8080/demo-web-ws/DemoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="DemoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/demo-web-ws/DemoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="toUpperCase">
<part name="parameters" element="tns:toUpperCase"/>
</message>
<message name="toUpperCaseResponse">
<part name="parameters" element="tns:toUpperCaseResponse"/>
</message>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<message name="info">
<part name="parameters" element="tns:info"/>
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse"/>
</message>
<portType name="DemoWS">
<operation name="toUpperCase">
<input wsam:Action="http://ws/DemoWS/toUpperCaseRequest" message="tns:toUpperCase"/>
<output wsam:Action="http://ws/DemoWS/toUpperCaseResponse" message="tns:toUpperCaseResponse"/>
</operation>
<operation name="sum">
<input wsam:Action="http://ws/DemoWS/sumRequest" message="tns:sum"/>
<output wsam:Action="http://ws/DemoWS/sumResponse" message="tns:sumResponse"/>
</operation>
<operation name="info">
<input wsam:Action="http://ws/DemoWS/infoRequest" message="tns:info"/>
<output wsam:Action="http://ws/DemoWS/infoResponse" message="tns:infoResponse"/>
</operation>
</portType>
<binding name="DemoWSPortBinding" type="tns:DemoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="toUpperCase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DemoWS">
<port name="DemoWSPort" binding="tns:DemoWSPortBinding">
<soap:address location="http://localhost:8080/demo-web-ws/DemoWS"/>
</port>
</service>
</definitions>